<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188035146333-nv8ejae1vi8cc7j6o5ns0du1kupeps09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188035146333-nv8ejae1vi8cc7j6o5ns0du1kupeps09</string>
	<key>API_KEY</key>
	<string>AIzaSyDM_MCPdvZmEcZnI5MhLo0GfkNsdls9B0k</string>
	<key>GCM_SENDER_ID</key>
	<string>188035146333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.butterflyTouch</string>
	<key>PROJECT_ID</key>
	<string>recycling-bonus</string>
	<key>STORAGE_BUCKET</key>
	<string>recycling-bonus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188035146333:ios:5d96938909c24fcc3723b4</string>
</dict>
</plist>